@use "./../../../styling/colors" as c;
@use "./../../../styling/breakpoint" as b;
@use "./../../../styling/fonts" as f;
@use "./../../../styling/mixins" as m;

.about {
  color: c.$text-color;
  padding: 0px 2rem 6rem 2rem;

  @include b.medium {
    padding: 4rem;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    font-size: f.$h2-small;
    border-bottom: c.$underline-styling;
    max-width: 350px;

    @include b.medium {
      font-size: f.$h2-large;
      max-width: 520px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem;
    gap: 20px;

    @include b.medium {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 60px;
      margin: 5rem;
    }
  }

  &__image {
    @include m.about-picture;
  }

  &__image:hover {
    @include b.medium {
      box-shadow: c.$image-hover;
      width: 420px;
      height: 420px;
    }
  }

  &__text-container {
    p {
      text-align: center;
      font-size: f.$paragraph-font-size-small;
      line-height: 1.7rem;

      @include b.medium {
        max-width: 600px;
        font-size: f.$paragraph-font-size-large;
        text-align: left;
      }
    }
  }
}
