@use "./../../styling/colors" as c;
@use "./../../styling/variables" as v;
@use "./../../styling/breakpoint" as b;
@use "./../../styling/mixins" as m;
@use "./../../styling/fonts" as f;

.myCv {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: c.$text-color;
    font-size: f.$h2-small;
    text-align: center;
    border-bottom: c.$underline-styling;
    width: 350px;
    margin: 0;

    @include b.medium {
      font-size: f.$h2-large;
      width: 550px;
      margin: 2rem;
    }
  }

  &__png {
    background-image: v.$resume-pic;
    @include m.bg-img-position;
    width: 360px;
    height: 500px;
    box-shadow: c.$cv-shadow;
    margin: 2rem;

    @include b.medium {
      height: 1100px;
      width: 800px;
    }
  }
}
