@use "./../../../styling/colors" as c;
@use "./../../../styling/variables" as v;
@use "./../../../styling/breakpoint" as b;
@use "./../../../styling/mixins" as m;
@use "./../../../styling/fonts" as f;

.portfolio {
  height: 95vh;
  color: c.$text-color;
  display: flex;
  justify-content: center;

  &__name {
    position: absolute;
    z-index: 2;
    font-family: "Lora", serif;
    font-weight: lighter;
    font-size: f.$heading-small;
    top: 35px;
    text-align: center;

    @include b.medium {
      font-size: f.$heading-large;
      top: 93px;
    }
  }

  &__picture {
    background-image: v.$header-pic;
    background-position: center;
    background-size: cover;
    box-shadow: c.$image-shadow;
    height: 250px;
    width: 350px;
    position: absolute;
    z-index: 1;
    top: 260px;

    @include b.medium {
      height: 300px;
      width: 480px;
      top: 460px;
      transform: v.$pic-rotate;
      border-radius: 0;
    }
  }

  &__webb {
    position: absolute;
    z-index: 2;
    font-size: f.$education-title-small;
    text-transform: uppercase;
    top: 490px;
    color: c.$my-pop-color;
    width: 60%;
    text-align: center;

    @include b.medium {
      top: 556px;
      font-size: f.$education-title-large;
      width: 100%;
    }
  }
}

@include m.text-slider;
