@use "./../../styling/colors" as c;
@use "./../../styling/breakpoint" as b;
@use "./../../styling/fonts" as f;
@use "./../../styling/mixins" as m;
@use "./../../styling/buttons" as btn;

.myProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 80px;

  @include b.medium {
    padding: 5rem 3rem;
  }

  &__title {
    color: c.$text-color;
    font-size: f.$h2-small;
    border-bottom: c.$underline-styling;
    width: 350px;
    margin: 0;
    text-align: center;

    @include b.medium {
      font-size: f.$h2-large;
      width: 600px;
    }
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: c.$light-color;
    gap: 30px;
    width: 100%;

    @include b.medium {
      grid-template-columns: repeat(4, 1fr);
    }

    &__container {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: c.$grey-color;
      padding: 2rem 5px;
      gap: 20px;

      &__name {
        margin: 0;
        font-size: f.$projectCard-name-large;
        border-bottom: c.$underline-styling;
      }

      &__imgContainer {
        width: 100%;

        &__img {
          height: 200px;
        }
      }

      &__desc {
        margin: 0;
        width: 95%;
        text-align: center;
        height: 100%;
      }

      &__btn {
        @include btn.button;
        padding: 15px;
        background-color: c.$background-color;
        &__link {
          color: c.$text-color;
          text-decoration: none;
        }
      }

      @include btn.button-hover;

      .carousel .control-prev.control-arrow:before,
      .carousel .control-next.control-arrow:before {
        border: solid c.$light-color;
      }
    }

    .carousel .control-next.control-arrow:before {
      margin-right: 0;
    }
    .carousel .control-prev.control-arrow:before {
      margin-left: 0;
    }

    .carousel .thumbs-wrapper {
      display: none;
    }
    .carousel.carousel-slider {
      height: 250px;
    }

    .carousel.carousel-slider .control-arrow {
      bottom: 25%;
    }

    .carousel .control-prev.control-arrow:before,
    .carousel .control-next.control-arrow:before {
      content: "";
      border-width: 0 3px 3px 0;
      padding: 7px;
    }
  }
}
