@use "./../../styling/colors" as c;
@use "./../../styling/variables" as v;
@use "./../../styling/breakpoints" as b;
@use "./../../styling/fonts" as f;
@use "./../../styling/mixins" as m;

.myProjects {
  &__title {
    color: c.$text-color;
    font-size: f.$h2-title-smal;
  }
  &__projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: c.$text-color;
    gap: 50px;
    margin: 4rem;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: c.$grey-color;
      padding: 2rem 10px;
      gap: 20px;
      width: 100%;

      &__name {
        margin: 0;
        font-size: 23px;
        border-bottom: c.$underline-styling;
      }

      &__imgContainer {
        width: 100%;

        &__img {
          height: 200px;
        }
      }

      &__desc {
        margin: 0;
        width: 95%;
        text-align: center;
        height: 100%;
      }

      &__btn {
        @include m.button;
        padding: 15px;
        font-size: 17px;
        background-color: c.$grey-color;

        &__link {
          color: c.$text-color;
          text-decoration: none;
        }
      }

      @include m.button-hover;
    }

    .carousel .control-next.control-arrow:before {
      margin-right: 0;
    }
    .carousel .control-prev.control-arrow:before {
      margin-left: 0;
    }

    .carousel .thumbs-wrapper {
      display: none;
    }
    .carousel.carousel-slider {
      height: 250px;
    }

    .carousel.carousel-slider .control-arrow {
      bottom: 25%;
    }

    .carousel .control-prev.control-arrow:before,
    .carousel .control-next.control-arrow:before {
      content: "";
      border-width: 0 3px 3px 0;
      padding: 7px;
    }
  }
}
