@use "./../../../../styling/colors" as c;
@use "./../../../../styling/variables" as v;
@use "./../../../../styling/breakpoints" as b;
@use "./../../../../styling/fonts" as f;
@use "./../../../../styling/mixins" as m;

.project-title {
  margin: 0 auto;
  color: c.$text-color;
  text-align: center;
  font-size: f.$heading-large;
  border-bottom: c.$underline-styling;
  width: 700px;
  margin-bottom: 150px;
}

.project {
  color: c.$text-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  &__name {
    font-size: 40px;
    margin: 0;
  }

  &__imgContainer {
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 50%;
    margin: 4rem 0px;

    &__img {
      height: 400px;
    }
  }

  &__btn {
    @include m.button;
    padding: 20px;
    font-size: 17px;
    background-color: c.$background-color;
  }

  @include m.button-hover;
}
