@use "./../../../../styling/colors" as c;
@use "./../../../../styling/breakpoint" as b;

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1;
}

.carousel .carousel-status {
  display: none;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: transparent;
}
.carousel .control-prev.control-arrow:before {
  content: "";
  border: solid c.$my-pop-color;
  border-width: 0 4px 4px 0;
  margin-left: 20px;
  display: inline-block;
  padding: 14px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);

  @include b.medium {
    margin-left: 200px;
  }
}

.carousel .control-next.control-arrow:before {
  content: "";
  border: solid c.$my-pop-color;
  border-width: 0 4px 4px 0;
  margin-right: 20px;
  display: inline-block;
  padding: 14px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  @include b.medium {
    margin-right: 200px;
  }
}
