$background-color: rgb(21, 21, 22);

$grey-color: #393939;

$text-color: #f2f4ea;

$my-pop-color: #e4337a;

$image-shadow: 0px 0px 200px #787878;

$underline-styling: 2px solid #e4337a;

$cv-shadow: 0 0 8px rgba(242, 242, 242, 0.73);
