$heading-font-size-smal: 55px;
$heading-font-size-large: 120px;

$paragraph-font-size-smal: 15px;
$paragraph-font-size-large: 18px;

$h1-size-large: 90px;
$h1-size-smal: 50px;

$education-size-large: 45px;
$education-size-smal: 30px;
