$heading-small: 60px;
$heading-large: 95px;
$heading-medium: 90px;

$paragraph-font-size-small: 15px;
$paragraph-font-size-large: 18px;

$projects-title-large: 40px;
$projects-title-small: 35px;

$h2-small: 50px;
$h2-large: 90px;

$projectCard-name-small: 18px;
$projectCard-name-large: 23px;

$education-title: 30px;
// $education-title-small: 30px;
$education-title-medium: 60px;

$button-size: 17px;
$btn-size-hover: 18px;

$nav-fontsize: 20px;
$nav-hover: 22px;

$icon-size: 40px;
$linkedin-size: 52px;
