$header-pic: url(./../assets/38206995-B312-40F4-BFF8-6A1A95961D35_1_102_o.jpeg);
$profile-pic: url(./../../assets/CV-bild.jpg);
$resume-pic: url(./../../assets/CV-doc.jpg);

$pic-rotate: translateY(-50%) rotate(-5deg);