@use './../../styling/colors' as c;
@use './../../styling/variables' as v;
@use './../../styling/breakpoints' as b;
@use './../../styling/mixins' as m;
@use './../../styling/fonts' as f;

.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: c.$text-color;
    height: 90vh;

    &__name{
        position: absolute;
        z-index: 2;
        font-size: 120px;
        top: 93px;
        font-family: 'Lora', serif;
        font-weight: lighter;
    }

    &__picture{
        background-image: v.$header-pic;
        background-position: center;
        background-size: cover;
        box-shadow: c.$image-shadow;
        height: 300px;
        width: 480px;
        transform: v.$pic-rotate;
        position: absolute;
        z-index: 1;
        top: 460px;
    }

    &__webb{
        position: absolute;
        z-index: 2;
        font-size: 45px;
        text-transform:uppercase;
        top: 556px;
        font-family: 'Raleway', sans-serif;
        color: c.$my-pop-color;
    }
}

@include m.text-slider;