@use "./../../styling/colors" as c;
@use "./../../styling/breakpoint" as b;
@use "./../../styling/fonts" as f;

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100px;

  li {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 50px;
    font-size: f.$nav-fontsize;
  }

  &__content {
    color: c.$text-color;
    text-decoration: none;
    transition: all ease 0.3s;
  }

  &__content:hover {
    color: c.$my-pop-color;
    font-size: f.$nav-hover;
  }
}
