@use "./../../styling/colors" as c;
@use "./../../styling/breakpoint" as b;
@use "./../../styling/fonts" as f;

.navbar {
  position: absolute;
  width: 100%;
  z-index: 3;

  @include b.large-nav {
    transform: translateX(-100%);
    transition: ease-in 0.4s;
  }

  &__menu {
    display: flex;
    justify-content: center;
    text-align: center;

    @include b.large {
      justify-content: end;
      margin-right: 50px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 20px;
    margin-bottom: 50px;

    @include b.medium {
      font-size: 26px;
    }

    @include b.large {
      flex-direction: row;
      font-size: 20px;
    }

    &__content {
      text-decoration: none;
      color: c.$text-color;
      transition: all ease 0.3s;
    }

    &__content:hover {
      color: c.$my-pop-color;
      font-size: f.$nav-hover;
    }
  }
}

.navActive {
  background-color: c.$background-color;
  width: 100%;
  transform: translateX(0%);
  transition: ease-out 0.4s;
  position: absolute;
  z-index: 3;

  @include b.large {
    position: absolute;
    width: 100%;
    z-index: 3;
  }
}

.hamburger-react {
  display: block;

  @include b.large {
    display: none;
  }
}
